body {
    background-color: #264653;
}
.theGreatDiv {
  text-align: center;
  font-family: Arial;
  font-size: 6vmin;
  color: #f1faee;
}
a {
  color: #f1faee;
  text-decoration: none;
}
.questionMarkDiv {
  width: 60px;
  height: 60px;
  border-radius:50%;
  font-size: 50px;
  background-color: #028090;
  float: right;
  margin: 1% 1%;
}
.questionMarkDiv:hover {
  background-color: #2a9d8f;
}
.buttonDiv {
  background-color: #028090;
  width: 32%;
  height: 40%;
  margin: 2% 0%;
  display: inline-block;
  transition-duration: 0.3s;
}
.buttonDiv:hover {
  background-color: #2a9d8f;
}
.datasetDiv {
  background-color: #028090;
  width: 32%;
  height: 15%;
  margin: 2% auto;
}
.datasetDiv:hover {
  background-color: #2a9d8f;
}
.buttonDivContainer {
}
.feedbackDiv {
  position: fixed;
  bottom: 0%;
  width: 20%;
  height: 15%;
  background-color: #028090;
  float: right;
  margin: 3% 1%;
}
.feedbackDiv:hover {
  background-color: #2a9d8f;
}
.placeholderDiv {
  position: fixed;
  bottom: 0%;
  right: 0%;
  width: 20%;
  height: 15%;
  background-color: #028090;
  float: right;
  margin: 3% 1%;
}
.placeholderDiv:hover {
  background-color: #2a9d8f;
}
