#csvFileInput {
  display: none;
}
#chooseFileButton {
  border-style: solid;
}
#chooseFileButton:hover {
  background-color: #715b5b;
}
progress {
  color: #2a9d8f;
  width: 32%;
  margin: 1% auto;
  display: block;
  background-color: 'gray';
  border: 0;
  height: 35px;
}
/*progress bar color for mozilla, opera and chrome*/
progress::-moz-progress-bar {
  background: #2a9d8f;
}
progress::-webkit-progress-value {
  background: #2a9d8f;
}
