p {
  color: #2962ff;
}
#hiddenDiv {
  display: none;
}
#csvFileInput {
  display: none;
}
#chooseFileButton {
  height: 10%;
  width: 32%;
  border: none;
  background-color: #2962ff;
  color: #f1faee;
  font-size: 3vmin;
}
#chooseFileButton:hover {
  background-color: #2a9d8f;
}
#uploadedFileTable {
  border: 1px solid black;
  margin: 1% auto;

}
#hiddenDiv {
  margin: 1% auto;
  border: 1px solid black;

}
.importMenuButton {
  width: 32%;
  height: 15%;
  margin: 3% auto;
  transition-duration: 0.3s;
  padding-top: 3%;
  padding-bottom: 0%;
}
progress {
  color: #2a9d8f;
  width: 32%;
  margin: 1% auto;
  background-color: 'gray';
  border: 0;
  height: 35px;
}
/*progress bar color for mozilla, opera and chrome*/
progress::-moz-progress-bar {
  background: #2a9d8f;
}
progress::-webkit-progress-value {
  background: #2a9d8f;
}
