body {
    background-color: #f1f1d1;
}
a {
  color: #f1faee;
  text-decoration: none;
  cursor: default;
}
.dataSetTable {
  margin: 0.5% auto;
}
.dataSetTable > tbody > tr > td{
  border: 2px solid #534343;
  background-color: #dddddd;
}
#importDataDiv {
  display: none;
  margin: 1% auto;
}
#getScheduleDiv {
  display: none;
  margin: 1% auto;
}
#shareFeedbackDiv {
  display: none;
  margin: 1% auto;
}
#hiddenDiv {
  display: none;
  margin: 1% auto;
}
#backButtonDiv {
  width: 14%;
  margin: 3% auto;
}
.theGreatDiv {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #534343;
}
.menuButtonDiv {
  background-color: #473939;
  white-space: pre-line;
  font-size: 4vmin;
  color: #f1faee;
}
.menuButtonDiv:hover {
  background-color: #715b5b;
}
.bigButton {
  width: 32%;
  height: 0%;
  margin: 2% 0%;
  display: inline-block;
  transition-duration: 0.3s;
  padding-top: 8%;
  padding-bottom: 12%;
}
.smallButton {
  width: 32%;
  height: 0%;
  margin: 2% auto;
  display: inline-block;
  padding-top: 3%;
  padding-bottom: 7%;
}
.algButton {
  width: 32%;
  height: 0%;
  margin: 2% auto;
  display: inline-block;
  padding-top: 2%;
  padding-bottom: 5%;
}
