body {
    background-color: #f1f1d1;
}
a {
  color: #f1faee;
  text-decoration: none;
}
.dataSetTable {
  margin: 0.5% auto;
}
.dataSetTable > tbody > tr > td{
  color: #534343;
  border: 2px solid #534343;
  background-color: #dddddd;
}
.noneDisplayDiv {
  display: none;
  margin: 1% auto;
}
.theGreatDiv {
  text-align: center;
  margin-top: 2%;
  color: #534343;
}
.menuButtonDiv {
  border-radius: 20px;
  background-color: #473939;
  white-space: pre-line;
  font-size: 4vmin;
  color: #f1faee;
}
.menuButtonDiv:hover {
  background-color: #715b5b;
}
.smallButton {
  width: 32%;
  height: 200px;
  line-height: 200px;
  margin: 1% auto;
  display: inline-block;
}
.buttonText {
  vertical-align: middle;
}
.algButton {
  margin-top: 10px;
  margin-bottom: 10px;
}
.littleMenuButton {
  width: 14%;
  height: 0%;
  border-radius: 10px;
  font-size: 18px;
  margin: 1% auto;
  padding-top: 0.5%;
  padding-bottom: 2%;
}
