body {
    background-color: #c3f8a1;
}
.theGreatDiv {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 6vmin;
  color: #f1faee;
}
a {
  color: #f1faee;
  text-decoration: none;
  cursor: default;
}
.menuButtonDiv {
  background-color: #2962ff;
}
.menuButtonDiv:hover {
  background-color: #0d47a1;
}
.bigButton {
  width: 32%;
  height: 0%;
  margin: 2% 0%;
  display: inline-block;
  transition-duration: 0.3s;
  padding-top: 8%;
  padding-bottom: 12%;
}
.smallButton {
  width: 32%;
  height: 0%;
  margin: 2% auto;
  display: inline-block;
  padding-top: 3%;
  padding-bottom: 7%;
  font-size: 5vmin;
}
